* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(90deg, #491010, rgb(3, 3, 3), #3d3c3c);
    background-size: 500% 100%;
    width: 100%;
    animation: degrade-animado 5s infinite alternate;
}

@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

header {
    padding: 0.5% 0 1% 45%;
    background: #491010;
}

#eliz {
    padding: 2% 0 0 4%;
}

#sushi {
   padding: 0 0 0 1.8%;
   margin: -1% 0 0 0;
}

#express {
    padding: 0 0 0 3.8%;
    margin: -0.8% 0 0 0;
}
   
h1 {
    color: white;
}

.logo {
    color: white; 
}

.cardapio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
    padding: 3%  0 0 10%;
    
}

#entrada {
    color: white;
    padding: 0 0 5% 28%;   
}

#temaki {
    color: white;
    padding: 0 0 5% 0;
}

#bebidas {
    color: white;
    padding: 0 3% 5% 20%;  
}

#opcoes {
    color: white;
}

#opcoes-2 {
    color: white;
    
}

#opcoes-3 {
    color: white;
    
    
    
}

.endereco {
    color: white;
    padding: 5% 0 5% 40%;
    
}

.localizacao {
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: white;

}

.endereco-1 {
    padding: 0 0 0 4.5%;
}

#rua {
    font-size: 80%;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 0 0 0 1%;
    width: 30%;
}

#bairro {
    font-size: 80%;
   color: black;
    border: none;
    border-radius: 10px;
    padding: 0 0 0 1%;
    width: 30%;
}

#numero {
    font-size: 80%;
   color: black;
    border: none;
    border-radius: 10px;
    padding: 0 0 0 1%;
    width: 30%;
}

#complemento {
    font-size: 80%;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 0 0 0 1%;
    width: 30%;
}

p {
    padding: 0 0 0 7%;
}

input[type="checkbox"] {
   display: none;    
}
input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    height: 13px;
    width: 20px;
    background: url(imagem/app.svg) no-repeat;
    background-size: 10px 12px;
    padding-top: 0;
    
}
input[type="checkbox"]:checked + label:before {
    content: "";
    display: inline-block;
    height: 13px;
    width: 20px;
    background: url(imagem/check-square.svg) no-repeat;
    background-size: 12px 13px;
    padding-top: 0px;
}


input {
    border: none;
    width: 3%;
    background: rgba(255, 255, 255, 0);
    padding: 0 0 0 6px;
    font-size: 20px;
    color: white;
    
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    
   
}

.btn-decrement {
    background: rgba(255, 255, 255, 0);
    padding: 1px 5px 1px 5px;
    font-size: 20px;
    
    
}

.btn-increment {
    
    padding: 0 5px 0 5px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0);
    
}

#rua {
    background: white;
}

#bairro {
    background: white;
}

#numero {
    background: white;
}

#complemento {
    background: white;
}


#forma-pagamento {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

button {
   
    font-size: 16px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px; 
    padding: 10px 30px;
    margin: 1% 0 2% 0;
}

@media(min-width:300px) and (max-width: 500px) {
    body {
        margin: 0;
        padding: 0;
    }
    header {
      
       font-size: 16px;
       padding: 0 0 0.5% 35%;
       
    }
    h1 {
        margin-left: -5%;
    }
    #eliz {
       padding: 3% 0 0 10%;
    }
    #sushi {
       padding: 0 0 0 2%;
       margin-top: -4%;
    }
    #express {
       padding: 0 0 0 9.5%;
       margin-top: -3.5%;
    }
    #entrada {
        font-size: 17px; 
        padding: 2% 0 0 36%;
    }
    #opcoes {
        font-size: 12px;
        padding: 5% 0 0 6%;
        
     }
    
    #temaki {
        font-size: 17px;
        padding: 10% 0 0 9.5%;
    }
    #opcoes-2 {
        font-size: 13px;
        padding: 5% 0 0 12%;
        
    }
    #bebidas {
        font-size: 17px;
        padding: 7% 0 0 37%;
    }
    #opcoes-3 {
        font-size: 13px;
        padding: 5% 0 0 12%;
    }
    .todos-0 {
        margin: 0 0 0 -4.5%;
        font-size: 16px;
        width: 100%;
       
    }
    .todos-1 {
        margin-left: -4%;
        font-size: 16px;
        width: 100%;
        
    }
    .todos-2 {
        margin-left: -5%;
        font-size: 16px;
        width: 100%;  
    }
    .cardapio {
        grid-template-columns: none;
    }
    .endereco {
       margin-left: -19%;
    }
    .endereco-1 {
        margin-left: -5%;
    }
    .localizacao {
       font-size: 18px;
        width: 90%;
        margin: 0 0 0 -1%;
    }
    #rua {
        width: 80%;
        height: 25px;
        margin-top: 2%;
        
        
    }
    #bairro {
        width: 80%;
        height: 25px;
        margin-top: 4%;
    }
    #numero {
        width: 80%;
        height: 25px;
        margin-top: 4%;
    }
    #complemento {
        width: 80%;
        height: 25px;
        margin-top: 4%;
    }
    p {
        padding: 0 0 0 8%;
    }
    #forma-pagamento {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%; 
        margin: 0 auto; 
        }
    .btn-decrement {
        background: rgba(255, 255, 255, 0);
        padding: 1px 5px 1px 5px;
        font-size: 20px;
        margin: 0 1% 0 0;
        margin-left: -10%;
            
        }
        
    .btn-increment {
        margin: 0 0 0 2%;
        padding: 0 5px 0 5px;
         font-size: 20px;
        background: rgba(255, 255, 255, 0);
            
        }
    
        select {
        padding: 10px;
        font-size: 16px;
        border-radius: 10px;
        }
    
        .botao {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50%; 
        margin: 0 auto; 
        }
    
        button {
        font-size: 16px;
        background: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 10px; 
        padding: 10px 30px;
        margin: 1% 0 5% 0;
        }
        input {
            font-size: 14px;
        }
    
    
        
        
    
    
}


   